@using BoF.BoFModels.Models;
@model CustomerModel

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<section id="loginForm">
    <center>
        @*<div class="panel-heading text-center" style="background-color:white; margin-left:38%">
                <a href="#">
                    <img src="~/Content/images/Datec/^F7D0AD475A61A4C7BDC13E3341B5006EFD37AEFEB46711F026^pimgpsh_fullsize_distr.png" class="img-responsive" alt="Datec Fiji" width="270" height="70" />
                </a>
            </div>*@
    </center>
    @using (Html.BeginForm("Index", "BoFLogin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="max-width:32em; margin-left:auto;margin-right:auto;margin-top:15em;">

            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #303391">
                    <center>
                        <div>
                            <span style="font-size: 2em">&nbsp;&nbsp;&nbsp;<b>Bank of Fiji</b></span>
                        </div>
                    </center>
                    @*<center>
                            <div>
                                <span style="font-size: 2em">&nbsp;&nbsp;<b>PROCESSING SYSTEM</b></span>
                            </div>
                        </center>*@
                </div>

                <br />
                <center>
                    <div class="panel-body">
                        @*Begin Panel Body*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*Username*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username), id = "usr" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*Password*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password), @type = "password", id = "pwd" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*Login Button*@
                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>@*End Panel Body*@
                </center>
            </div>
        </div>
    }
</section>
